%h1 Список врач - заболевание
%br

-unless flash.empty?
  %p#notice= notice


%br
= paginate @doctor_deseases
%br

%table#newspaper-a
  %tr
    %th Врач
    %th Заболевание
    %th
    %th

  - @doctor_deseases.each do |doctor_desease|
    %tr
      %td= doctor_desease.doctor_type.name
      %td= doctor_desease.desease_type.name
      %td= link_to image_tag("",:class => "ui-icon ui-icon-pencil"), edit_doctor_desease_path(doctor_desease)
      %td= link_to image_tag("",:class => "ui-icon ui-icon-minus"), doctor_desease, :confirm => 'Are you sure?', :method => :delete
%br

= link_to 'Новый', new_doctor_desease_path
