%h2 Типы диагностики
%br

-unless flash.empty?
  %p#notice= notice

%table#newspaper-a
  %tr
    %th Наименование
    %th
    %th

  - @diagnostic_test_types.each do |diagnostic_test_type|
    %tr
      %td= diagnostic_test_type.name
      %td= link_to image_tag("",:class => "ui-icon ui-icon-pencil"),edit_diagnostic_test_type_path(diagnostic_test_type)
      %td= link_to image_tag("",:class => "ui-icon ui-icon-minus"),diagnostic_test_type, :confirm => 'Are you sure?', :method => :delete if diagnostic_test_type.can_be_deleted

%br

= link_to 'Новый', new_diagnostic_test_type_path


